@media (min-width: 1441px){
  section{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  section .left{
    width: 625px;
  }
  section .left .rollpic{
  height: 270px;
  }
  section .right{
    width: 280px;
  }
  .append{
    top: 40%;
  }
  .container{
    width: 960px;
  }
  .level-3{
    display: none;
  }
  .description{
    font-size: 13px;
  }
  .degree{
    height: 82px;
  }
}
@media (max-width: 1440px) and
(min-width: 1080px){
  .btn{
    width: 625px;
  }
  .level-2{
    display: none;
  }
  .level-2 img{
    display: none;
  }
  .container .active{
    width: 68px;
    margin-left: -34px;
  }
  .second{
    margin-left: -21px;
  }
  input{
    box-sizing: border-box;
  }
  .active a{
    width: 34px;
  }
  section .left {
    width: 625px;
  }
  section .left .rollpic{
    height: 270px;
  }
  section .right{
    width: 280px;
  }
  .append{
    top: 40%;
  }
  section{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .container{
    width: 960px;
  }
  .description{
    font-size: 13px;
  }
  .degree{
    height: 82px;
  }
}
@media (min-width: 0px) and
(max-width: 1080px){
  .btn{
    width: 485px;
  }
  section{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  section .right{
    width: 218px;
  }
  section .left{
    width: 485px;
  }
  section .left .rollpic{
    height: 210px;
  }
  .append{
    top: 30%;
  }
  .container{
    width: 750px;
  }
  .level-2{
    display: block;
  }
  .level-3{
    visibility: hidden;
  }
  .active{
    width: 21px;
  }
  .second{
    width: 21px;
  }
  input{
    box-sizing: border-box;
  }
  .Dcode{
    width: 50px;
    height: 50px;
  }
  .degree{
    height: 66px;
    padding: 7px 10px;
  }
  .info{
    margin-left: 60px;
  }
  .degree .title {
    width: 130px;
    font-size: 14px;
  }
  .description{
    font-size: 12px;
  }
}