/* reset */
a {
  width: 100%;
  height: inherit;
  text-decoration: none;              /*去除a标签下划线 */
  color: black;
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;                   /*去除ul>li前面的黑点 */
}

/* head */
nav{
  border-bottom: 0.3px solid rgba(100, 100, 100, 0.5);
}
.header {
  height: 56px;
  min-width: 768px;
  max-width: 1440px;
  margin: 0 auto;
}
.header .home {
  width: 100px;
  float: left;
}
.header .home img {
  width: 100%;
  height: 100%;
}
.towrite {
  float: right;
  width: 100px;
  height: 40px;
  line-height: 24px;
  margin: 8px 15px 0;
  box-sizing: border-box;
  border:1px;
  border-radius: 20px;
  font-size: 15px;
  color: #fff;
  background-color: #ea6f5a;
}
.same {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 6px 12px;
}
.sign {
  float: right;
  width: 80px;
  height: 38px;
  line-height: 24px;
  margin: 9px 5px 0 15px;
  box-sizing: border-box;
  border: 1px solid rgba(236,97,73,.7);
  border-radius: 20px;
  font-size: 15px;
  color: #ea6f5a;
  background-color: transparent;
}
.login {
  float: right;
  width: 30px;
  height: 30px;
  padding: 6px 12px;
  margin: 11px 6px 0 10px;
  font-size: 15px;
  color: #969696;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header .level-1 {
  height: 56px;
  width: 45%;
  display: flex;                         /* 将ul的所有li横向排列 */
  font-size: 17px;
  line-height: 56px;
}
.level-2{
  width: 21px;
  display: inline-block;
}
.header ul li{
  margin-right: 10px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
}
.header ul li a {
  display: flex;
  align-items: center;
  text-align: center;
}
.header ul .active {
  padding: 15px;
  height: 26px;
}
.header ul .active img {
  height: 21px;
}
.header ul .active a{
  color: #ea6f5a;
}
.second{
  width: auto;
  padding: 15px;
}
.second:hover{
  background-color: #eee;
}
#download {
  width: 21px;
}
.header .search {
  width: 160px;
}
.header input {
  padding: 0 40px 0 20px;
  width: 160px;
  height: 38px;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 40px;
  background: #eee;
  outline: none;                              /* 消除input框点击后出现的蓝色边框 */  
}
section {
  min-width: 785px;
}
.switch-mod {
  position: relative;
  float: right;
}
.switch-mod a,
.switch-mod div,
.switch-mod span {
  color: #969696;
}
.mode {
  width: 30px;
  line-height: 20px;
  padding: 17px 0;
  font-size: 20px;
}
.changeShow {
  position: absolute;
  top: 56px;
  z-index: 1;
  padding: 20px 20px 20px 24px;
  margin-left: -180px;
  width: 190px;
  display: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}
.moon {
  position: relative;
  width: 16px;
  height: 16px;
  float: left;
  border-radius: 8px;
  background-color: #969696;
}
.light {
  position: relative;
  width: 16px;
  height: 16px;
  float: left;
  border-radius: 8px;
  background-color: rgb(235, 238, 58);
}
.moon:after {
  content: '';
  position: absolute;
  left: 6px;
  top: -6px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: white;
}
.light:after {
  content: '';
  position: absolute;
  left: 6px;
  top: -6px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #393939;
}
.words {
  float: left;
}
.switch-mod .btnn {
  width: 49%;
  padding: 10px 13px 10px 17px;
  text-align: center;
  font-size: 14px;
  color: #969696;
  cursor: pointer;
  border: 1px solid #e5e5e5;
}
.switch {
  height: 40px;
}
hr {
  border: 0;
  border-top: 1px solid #eee;
}
.switch-mod .btn-left {
  margin-left: 10px;
  border-radius: 20px 0 0 20px;
  border-right: none;
}
.switch-mod .btn-right {
  margin-left: -5px;
  padding: 10px 17px 10px 13px;
  border-radius: 0 20px 20px 0;
  border-left: none;
}
.switch-mod .active {
  color: #fff;
  background-color: #6dacf4;
  border-color: #6dacf4;
}
.switch-mod .font-family {
  width: 130px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
/* 轮播图 */
section .left {
  float: left;
  padding-top: 40px;
  padding-left: 15px;
}
section .left .rollpic{
  position: relative;
  width: 100%;
}
.rollpic #img-ul li {
  width: 100%;
  height: 100%;
}
.rollpic #img-ul li a {
  width: 100%;
  height: 100%;
}
section .left .rollpic img {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 12px;
}
.btn a {
  position: absolute;
  top: 50%;                                      /* 定位于.rollpic，picture的height是270，设置height为 270/2 - 25 (自己高度的一半)，即可垂直居中 */
  width: 40px;
  height: 50px;
  margin-top: -25px;
  display: none;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}
.prev {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.next {
  right: 0;                                            
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;           
}
.rollpic:hover .show {
  display: block;
}
.tab {
  position: absolute;
  top: 100%; 
  left: 50%;       
  width: 175px;
  height: 20px;                       
  margin-top: -20px;;                                        
  margin-left: -90px;                                /* margin-left设置为一半宽的负数使之水平居中 */
}
.tab-ul {
  width: 175px;
  display: flex;
}
.tab-li {
  padding: 0;
  margin: 3px 5px;
  width: 30px;
  height: 3px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
}
.tab-on {
  background-color: #fff;
}
/* 右栏布局 */

.right {
  position: relative;
  padding-top: 40px;
  margin-left: 40px;
  float: left;
}
.wrapper {
  width: 100%;
}
.wrapper ul,
.wrapper li,
.wrapper img {
  padding: 0;
  margin: 0;
}
.wrapper ul {
  width: 100%;
}
.wrapper li {
  width: 100%;
}
.wrapper li a {
  width: 100%;
}
.wrapper li a img {
  width: 100%;
}
.degree {
  margin-top: 10px;
  padding: 10px 22px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #eee;
}
.Dcode {
  float: left;
  width: 60px;
  height: 60px;
}
.info {
  margin-left: 75px;
}
.degree .description {
  margin-top: 10px;
  color: #969696;
}
.append {
  position: absolute;
  left: 50%;
  display: none;
  margin-left: -90px;
  width: 180px;
  height: 180px;
  background-color: #fff;
  border: #969696 0.5px solid;
  border-radius: 5px;
}
.append img {
  margin: 10px;
  width: 160px;
  height: 160px;
}
a.degree:hover+.append {
  display: block;
}
/* 瀑布流li的布局 */
.news {
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid #eee;
}
.news ul {
  width: 100%;
  margin-bottom: 15px;
}
.news ul li {
  position: relative;
  width: 100%;
  height: 104px;
  padding: 25px 0 20px 2px;
    border-bottom: 1px solid #eee;
}
.news .title {
  height: auto;
  font-size: 20px;
  color: #333;
}
.news ul li .pic{
  width: 148px;
  height: 99px;
  position: absolute;
  right: 0;
  top: 25px;
}
.news ul li img {
  width: 148px;
  padding: 0;
  border-radius: 5px;
}
.news .abstract {
  font-size: 13px;
  color: #969696;
}
.details {
  width: 140px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #969696;
}
.details a {
  width: auto;
  color: #969696;
}
.details .active {
  color: #ea6f5a;
}
/* Skeleton Screen */
.skeleton .skeleton-head,
.skeleton .skeleton-title,
.skeleton .skeleton-content,
.skeleton .skeleton-fixed {
  background: rgb(194, 207, 214);
}

.skeleton-head {  
  float: right;
  width: 148px;
  height: 100px;
  border-radius: 5px;
}
.skeleton-title {
  width: 450px;
  height: 20px;
  transform-origin: left;
  animation: skeleton-stretch .8s linear infinite alternate;
}

.skeleton-content {
  width: 375px;
  height: 20px;
  margin-top: 10px;
  transform-origin: left;
  animation: skeleton-stretch .6s -.2s linear infinite alternate;
}
.skeleton-fixed {
  width: 260px;
  height: 20px;
  margin-top: 10px;
}
@keyframes skeleton-stretch {
  from {
    transform: scalex(1);
  }
  to {
    transform: scalex(.3);
  }
}